<div *ngIf='isPageContentHidden'>
  <div class="h1 text-uppercase font-weight-bold text-center my-5">
  Trailer
</div>
<div class="container">
    <select (change)="getTrailers($event)" name="" id="" class="form-control alert-info mb-3" >
        <option *ngFor="let type of TrailerTypes" value="{{type.value}}">{{type.name}}</option>
      </select>
  <div class="card-columns">
    <ng-container *ngFor='let trailer of trailerItem'>
      <ng-container *ngIf="trailer.links != '' ||trailer.youtubeLinks != '' ">
        <div routerLink="/trailers/{{trailer.show_id}}" class="card bg-secondary link-hilight">
          <img src="http://localhost:1200/static/{{trailer.linkTable[0].image_name}}" alt="" class="w-100">
          <div class="h4 text-center text-uppercase">
            {{trailer.name}}
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <!-- no data -->
  <div *ngIf="noData" class="card bg-secondary my-5 shadow col-md-8 mx-auto">
    <div class="card-body">
      <div class="h3 text-center font-weight-bold text-uppercase my-2">
        No Records Found! Add Your Links...
      </div>
      <div class="text-center">
        <a routerLink="/upload-link" class="btn btn-success h3 mb-0">Add Your Links <i class="fa fa-plus"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf='!isPageContentHidden' class="d-flex" style="height: 340px;">
  <img src="../../../assets/refresh.gif" alt="" style="width:100px;height:100px;margin: auto;">
</div>