<div class="h1 text-uppercase font-weight-bold text-center my-5">
  Register
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="{{result.class}}">{{result.name}} {{result.msg}}</div>
      <form action="#" (submit)="register($event)" #userForm = "ngForm" id="registerForm" enctype="multipart/form-data">
        <div class="form-group">
          <label for="">User Name:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
            </div>
            <input
              type="text" 
              class="form-control" 
              placeholder="ex. Carter" 
              name="userName" 
              #username="ngModel"
              [(ngModel)] = 'user.userName'
              pattern="[a-zA-z][a-zA-z]+"
              required>
          </div>
          <div *ngIf="username?.touched" class="text-danger">
            <div *ngIf="username.errors?.required">* Username is required</div>
            <div *ngIf="username.pattern?.error">*Invalid Name</div>
          </div>
          <label for="">Email Address:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input 
            (change) = "isUserExist($event.target.value)"
              type="email" 
              class="form-control" 
              placeholder="ex. xyz@gmail.com" 
              name="email" 
              #email="ngModel"
              [(ngModel)] = 'user.email'
              pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}"
              required>
          </div>
          <span class="text-danger">{{userEmailCheck.msg}}</span>
          <div *ngIf="email?.touched" class="text-danger">
            <div *ngIf="email.errors?.required">Email is required</div>
            <div *ngIf="email.pattern?.error">Invalid Email</div>
          </div>
          <label for="">Password:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input 
              type="password" 
              class="form-control" 
              placeholder="password" 
              name="password" 
              #password="ngModel"
              [(ngModel)] = 'user.password'
              required>
          </div>
          <div *ngIf="password?.touched" class="text-danger">
            <div *ngIf="password.errors?.required">Password required</div>
          </div>
          <label for="">Confirm Password:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input 
              type="password" 
              class="form-control" 
              placeholder="confirm password" 
              name="confirmPassword" 
              #pwConfirm="ngModel"
              compare = "password"
              [(ngModel)] = 'confirmPassword'
              required>
          </div>
          <div *ngIf="pwConfirm?.touched" class="text-danger">
            <div *ngIf="pwConfirm.errors?.compare">password mismatch</div>
          </div>
          <div class="text-center">
            <button class="btn btn-danger" type="submit" [disabled] = 'userForm.invalid'>Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>