<div *ngIf='isPageContentHidden'>
  <div class="h1 text-center my-4 text-uppercase">
    {{pageGeneralText.name}}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-secondary">
          <img src="http://localhost:1200/static/{{pageGeneralText.linkTable[0].image_name}}" alt="" class="w-100">
        </div>
      </div>
      <div class="col-md-9">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi iste dignissimos ducimus accusamus minima
          eius nemo ad ipsa quas neque modi laudantium est, quidem sed odit, officia at, iusto expedita.
        </p>
        <select (change)="getSeriesEpisode($event)" name="" id="" class="custom-select custom-select-sm bg-light">
          <option value="">Select Season</option>
          <option *ngFor="let season of seasonForUi" value="{{season.value}}">{{season.label}}</option>
        </select>
        <div class="row my-4">
          <div *ngFor="let episode of EpisodeArray" class="col-3 col-sm-2 col-md-2 col-lg-2 text-center px-2 mb-3">
            <a routerLink="{{selectedSeason}}-{{episode}}-{{currentShowNumber}}"
              class="badge bg-success text-white py-2 px-3">{{selectedSeason}}
              {{episode.charAt(0).toUpperCase()+episode.slice(1)}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-9 offset-md-3">
        <div class="card bg-none my-5">
          <div class="card-body">
            <div class="h3 text-secondary">Write Review</div>
            <form action="">
              <textarea class="form-controlborder-info bg-none w-100" name="" id=""
                placeholder="Add your comment here!"></textarea>
              <button class="btn-primary btn mt-2">Submit</button>
            </form>
          </div>
        </div>
        <div class="my-3 row">
          <div class="col-1">
            <a href="#">
              <img src="https://png.pngtree.com/svg/20170331/businessman_863430.png" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-10 pl-0">
            <a href="#" class="h5 text-uppercase mr-2 font-weight-bold text-warning">Karthick Raja</a><span>2 weeks
              ago</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum soluta, temporibus quos veritatis
              modi! Facilis voluptatum distinctio sequi, exercitationem eveniet qui ex aspernatur illo fuga quis
              corrupti eum consequatur!
            </p>
          </div>
        </div>
        <div class="my-3 row">
          <div class="col-1">
            <a href="#">
              <img src="https://png.pngtree.com/svg/20170331/businessman_863430.png" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-10 pl-0">
            <a href="#" class="h5 text-uppercase mr-2 font-weight-bold text-warning">Karthick Raja</a><span>2 weeks
              ago</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum soluta, temporibus quos veritatis
              modi! Facilis voluptatum distinctio sequi, exercitationem eveniet qui ex aspernatur illo fuga quis
              corrupti eum consequatur!
            </p>
          </div>
        </div>
        <div class="my-3 row">
          <div class="col-1">
            <a href="#">
              <img src="https://png.pngtree.com/svg/20170331/businessman_863430.png" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-10 pl-0">
            <a href="#" class="h5 text-uppercase mr-2 font-weight-bold text-warning">Karthick Raja</a><span>2 weeks
              ago</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum soluta, temporibus quos veritatis
              modi! Facilis voluptatum distinctio sequi, exercitationem eveniet qui ex aspernatur illo fuga quis
              corrupti eum consequatur!
            </p>
          </div>
        </div>
        <div class="text-center mb-3">
          <a href="#" class="text-white"><u>See More...</u></a>
        </div>
      </div>
    </div>
    <div class="h3 text-secondary font-weight-bold text-uppercase mt-4">Recommanded</div>
    <div class="card-deck mb-5">
      <div [routerLink]="['/']" class="card bg-secondary">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81INszf0YxL._SL1500_.jpg" alt="" class="w-100">
        <div class="h4 text-center text-uppercase">
          Suits
        </div>
      </div>
      <div [routerLink]="['/']" class="card bg-secondary">
        <img src="https://images-na.ssl-images-amazon.com/images/I/916iUtMYGIL._SY445_.jpg" alt="" class="w-100">
        <div class="h4 text-center text-uppercase">
          Grimm
        </div>
      </div>
      <div [routerLink]="['/']" class="card bg-secondary">
        <img
          src="https://vignette.wikia.nocookie.net/supernatural/images/d/d7/Season_10_Official_Poster.png/revision/latest?cb=20171216050454"
          alt="" class="w-100">
        <div class="h4 text-center text-uppercase">
          Supernatural
        </div>
      </div>
      <div [routerLink]="['/']" class="card bg-secondary">
        <img
          src="https://vignette.wikia.nocookie.net/gotham-inc/images/f/ff/Wrath_of_the_Villains_poster.png/revision/latest?cb=20160125234852"
          alt="" class="w-100">
        <div class="h4 text-center text-uppercase">
          Gotham
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf='!isPageContentHidden' class="d-flex" style="height: 340px;">
  <img src="../../../assets/refresh.gif" alt="" style="width:100px;height:100px;margin: auto;">
</div>
