<div *ngIf='isPageContentHidden'>
  <div class="container mt-5">
    <ng-container *ngFor='let item of requestObj'>
      <div class="card text-white shadow bg-white mb-5" id="{{item.show_id}}">
        <div class="card-body">
          <div class="row m-0">
            <div class="col-md-4 py-3 border-right bg-dark rounded"
              style="box-shadow: .5rem .5rem 1rem rgba(0,0,0,.15)">
              <div class="h5 text-center mb-5">
                {{item.name}}
                <ng-container
                  *ngIf="(item.showType != 'tv_show' && item.showType !='anime' && item.trailerType != 'tv_show' && item.trailerType !='anime')">
                  - {{item.partOrSeason}}
                  <ng-container *ngIf="item.showType == 'songs'">{{item.singer}}</ng-container>
                </ng-container>
              </div>
              <div class="text-info">
                <label for="" class="mb-3 font-weight-bold">Show Type:
                  {{item.showType != 'tv_show' ? item.showType.charAt(0).toUpperCase() + item.showType.slice(1) : 'Tv Show'}}
                </label>
              </div>
              <div class="text-danger font-weight-bold">
                <label for="" [ngClass]="item.episode.length != 0 ? 'mb-3' : 'mb-5'">Genre:
                  {{item.linkTable[0].genre}}</label>
              </div>
              <ng-container
                *ngIf="item.showType == 'tv_show' || item.showType == 'anime' || item.trailerType == 'tv_show' || item.trailerType == 'anime'">
                <ng-container>
                  <div class="text-success font-weight-bold
                ">
                    <div class="h6 mb-5">Season: {{item.partOrSeason}}, Episode: {{item.episode}}</div>
                  </div>
                </ng-container>
              </ng-container>
              <div class="h6 text-white mb-0">
                <a href="#" class="font-weight-bold">{{item.requested_by}} </a>
                <small>, {{item.createdAt.substr(0,10).split('-').reverse().join('-')}}</small>
              </div>
              <div>
                <button class="btn bg-none btn-sm text-white pl-0">
                  <i class="fa fa-thumbs-up mr-1"></i> <span class="badge badge-info">10</span>
                </button><button class="btn bg-none btn-sm text-white pl-0">
                  <i class="fa fa-thumbs-down mr-1"></i> <span class="badge badge-warning">10</span>
                </button>
              </div>
            </div>
            <div class="col-md-8 pl-5">
              <ng-container *ngIf="item.linkTable.length != 0">
                <div *ngFor="let link of item.linkTable" class="d-flex mb-3">
                  <div>
                    <div class="h5 mb-1">
                      <a class="text-darkGreen"
                        routerLink="/{{item.showType == 'tv_show' ? 'tvshows': item.showType == 'songs'? item.showType : item.showType == 'anime' ? item.showType : item.showType == 'documentary' ? 'documentaries' : item.showType + 's' }}{{item.showType == 'movie' ? '/' + link.id_for_show : item.showType == 'tv_show' ? '/' + link.id_for_show  : item.showType == 'anime' ? '/' + link.id_for_show : '' }}/{{item.showType == 'anime' ? item.partOrSeason + '-' + item.episode + '-' + link.id_for_show : item.showType == 'tv_show' ? item.partOrSeason + '-' + item.episode + '-' + link.id_for_show : link.id_for_show}}">
                        <u>{{link.links}}</u>
                      </a>
                    </div>
                    <div class="h6 text-dark mb-0">
                      <a href="#" class="font-weight-bold tex">{{link.created_by}}</a>
                      <small> {{link.createdAt.substr(0,10).split('-').reverse().join('-')}}</small>
                    </div>
                    <div>
                      <button class="btn bg-none btn-sm text-dark pl-0">
                        <i class="fa fa-thumbs-up mr-1"></i> <span class="badge badge-info">10</span>
                      </button><button class="btn bg-none btn-sm text-dark pl-0">
                        <i class="fa fa-thumbs-down mr-1"></i> <span class="badge badge-warning">10</span>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="card-footer text-center bg-none border-0">
                <a [routerLink]="['/upload-link']" [queryParams]="{id: item.show_id}" class="btn btn-success m-auto">Put
                  Your Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div *ngIf='!isPageContentHidden' class="d-flex" style="height: 340px;">
  <img src="../../../assets/refresh.gif" alt="" style="width:100px;height:100px;margin: auto;">
</div>
