<div class="h1 text-uppercase font-weight-bold text-center my-5">
  Profile
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-img text-center bg-moonlight py-3">
        <div class="">
          <img class="img-fluid rounded-circle" src="http://placehold.it/200x200" alt="">
        </div>
        <button class="btn btn-sm my-1 bg-none text-white font-weight-bold">
          <i class="fa fa-pencil px-1 text-info"></i>Edit
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class=" col-md-6 pb-3">
          <div class="card bg-none h-100 mb-3">
            <div class="card-body">
              <div class="h5 text-info">User Name</div>
              <div class="h5 text-center bg-light text-secondary pt-1 pb-2">Varun Vijayan</div>
              <div class="h5 text-info">Email (optonal)</div>
              <div class="h5 bg-light text-secondary text-center pt-1 pb-2">varun@gmail.com</div>
              <div class="text-right">
                <button class='font-weight-bold btn-sm bg-none text-white border-0'>
                  <i class="fa fa-pencil mr-1 text-success"></i>Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-6 pb-3">
          <div class="card bg-none h-100 mb-3">
            <div class="card-body">
              <div class="h5 text-info">Change Password</div>
              <div class="h5 text-center bg-light text-secondary pt-1 pb-2">sdfgksgj54654</div>
              <div class="text-right">
                <button class='font-weight-bold btn-sm bg-none text-white border-0'>
                  <i class="fa fa-pencil mr-1 text-success"></i>Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-6 pb-3">
          <div class="card bg-none h-100 mb-3">
            <div class="card-body">
              <div class="h5 text-info">Manage Notification</div>
              <form action="" class="pl-4">
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="any-time-notification" checked>
                  <label for="" class="form-check-label" for="any-time-notification">Any Time Notification</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="weekly-notification">
                  <label for="" class="form-check-label" for="weekly-notification">Weekly Notification</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="monthly-notification">
                  <label for="" class="form-check-label" for="monthly-notification">Monthly Notification</label>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class=" col-md-6 pb-3">
          <div class="card bg-none h-100 mb-3">
            <div class="card-body d-flex">
              <div class="m-auto">
                <div class="h4">Likes: 15 <i class="fa fa-thumbs-up"></i> </div>
                <div class="h4">Shares: 15 <i class="fa fa-share-alt"></i> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 pb-3">
          <div class="card bg-none mb-3">
            <div class="card-body">
              <div class="h4 text-info">Favourate Genre</div>
              <div>
                <ul class="list-group">
                  <li class="list-group-item bg-none">Action</li>
                  <li class="list-group-item bg-none">Drama</li>
                  <li class="list-group-item bg-none">Rom com</li>
                  <li class="list-group-item bg-none">Thriller</li>
                  <li class="list-group-item bg-none">comedy</li>
                </ul>
                <div class="text-center py-2">
                  <button class="btn btn-success btn rounded-circle" style="width:4rem;height:4rem;">
                    <i class="fa fa-plus fa-2x"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 pb-3">
          <div class="card bg-none mb-3">
            <div class="card-body">
              <div class="h4 text-info">Marked Shows</div>
              <div class="card-columns">
                <div [routerLink]="['/']" class="card bg-secondary">
                  <img src="http://img.over-blog-kiwi.com/1/36/64/60/20150323/ob_23a5c4_illuminatiwatcherdotcom-interstellar-m.jpg"
                    alt="" class="w-100">
                  <div class="h4 text-center text-uppercase">
                    Interstellar
                  </div>
                </div>
                <div [routerLink]="['/']" class="card bg-secondary">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/71rj1RPn4iL._SY355_.jpg" alt="" class="w-100">
                  <div class="h4 text-center text-uppercase">
                    Avatar
                  </div>
                </div>
                <div [routerLink]="['/']" class="card bg-secondary">
                  <img src="https://cdn.shopify.com/s/files/1/1416/8662/products/terminator_1984_french_original_film_art_a_2000x.jpg?v=1539681185"
                    alt="" class="w-100">
                  <div class="h4 text-center text-uppercase">
                    Terminator
                  </div>
                </div>
                <div [routerLink]="['/']" class="card bg-secondary">
                  <img src="https://cdn.shopify.com/s/files/1/1416/8662/products/titanic_1997_R2012_original_film_art_3ae73936-93d4-49bc-9f6d-a62a2209012d_2000x.jpg?v=1539683381"
                    alt="" class="w-100">
                  <div class="h4 text-center text-uppercase">
                    Titanic
                  </div>
                </div>
                <div [routerLink]="['/']" class="card bg-secondary">
                  <img src="https://movieposters2.com/images/1556341-b.jpg" alt="" class="w-100">
                  <div class="h4 text-center text-uppercase">
                    A Quiet Place
                  </div>
                </div>
                <div [routerLink]="['/']" class="card bg-secondary">
                  <img src="https://ae01.alicdn.com/kf/HTB1XJ8QIpXXXXXSXFXXq6xXFXXXb/Jurassic-World-2015-Borderless-Movie-Poster-20x30-inch.jpg_640x640.jpg"
                    alt="" class="w-100">
                  <div class="h4 text-center text-uppercase">
                    Jurassic World
                  </div>
                </div>
                <div [routerLink]="['/']" class="card bg-secondary">
                  <img src="https://images.fineartamerica.com/images-medium-large-5/whippet-art--pirates-of-the-caribbean-the-curse-of-the-black-pearl-movie-poster-sandra-sij.jpg"
                    alt="" class="w-100">
                  <div class="h4 text-center text-uppercase">
                    Pirates of the caribbean
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
