<div *ngIf='isPageContentHidden'>
  <div class="h1 text-center my-5 text-uppercase">
    {{docData[0].name}} - {{docData[0].partOrSeason}}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-secondary">
          <img src="http://localhost:1200/static/{{docData[0].linkTable[0].image_name}}" alt="" class="w-100">
        </div>
        <div class="text-center">
          <button class="btn bg-none btn-sm text-white">
            Likes: <span class="badge badge-info">10</span>
          </button><button class="btn bg-none btn-sm text-white">
            Shares: <span class="badge badge-warning">10</span>
          </button>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row alert-info py-1">
          <div class="col-md-6 text-center">
            Genre: <span *ngFor="let gen of genre"
              class="font-weight-bold">{{gen.charAt(0).toUpperCase() + gen.slice(1)}} </span>
          </div>
          <div class="col-md-6 text-center">
            IMDB Rating: <span class="font-weight-bold"></span>
          </div>
        </div>
        <div class="px-5 pt-5">
          <ul class="list-group">
            <ng-container *ngFor="let showRow of docData">
              <li *ngFor="let link of showRow.linkTable" class="list-group-item bg-none"><a class="text-white"
                  href="{{link.links}}" target="_blank">
                  <img src="http://localhost:1200/static/{{link.image_name}}" style="height: 60px;" class="mr-3"><i
                    class="fa fa-external-link mr-2 text-primary"></i> <u>{{link.links}}</u></a>

                <div id="{{link.id}}">
                  <button (click)="voting('1', link.id, 'like', docId, '')"
                    class="btn bg-none btn-sm text-white pl-0 mr-3 shadow-none">
                    <i class="fa fa-thumbs-up mr-1 like"
                      [ngClass]="userData.status == true ? (link.voteTable.length != 0 ? checkVote(link.voteTable, 1, link.id) : '') : ''"></i>
                    <span
                      class="like badge badge-info">{{link.voteTable.length !=0 ? count(link.voteTable, '1') : '0'}}</span>
                  </button>
                  <button (click)="voting('-1', link.id, 'dislike', docId, '')" type="submit"
                    class="btn bg-none btn-sm text-white pl-0 shadow-none">
                    <i class="fa fa-thumbs-down mr-1 dislike"
                      [ngClass]="userData.status == true ? (link.voteTable.length != 0 ? checkVote(link.voteTable, -1, link.id) : '') : ''"></i>
                    <span
                      class="dislike badge badge-warning">{{link.voteTable.length !=0 ? count(link.voteTable, '-1') : '0'}}</span>
                  </button>
                </div>
              </li>
            </ng-container>
          </ul>
          <div class="text-center mt-3">
            <button class="btn btn-success btn-sm"> <i class="fa fa-plus-circle mr-2"></i> Add Your Link </button>
          </div>
        </div>
      </div>
      <div class="col-md-9 offset-md-3">
        <div class="card bg-none my-5">
          <div class="card-body">
            <div class="h3 text-secondary">Write Review</div>
            <form action="">
              <textarea class="form-control border-info bg-none" name="" id=""
                placeholder="Add your comment here!"></textarea>
              <button class="btn-primary btn mt-2">Submit</button>
            </form>
          </div>
        </div>
        <div class="my-3 row">
          <div class="col-1">
            <a href="#">
              <img src="https://png.pngtree.com/svg/20170331/businessman_863430.png" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-10 pl-0">
            <a href="#" class="h5 text-uppercase mr-2 font-weight-bold text-warning">Karthick Raja</a><span>2 weeks
              ago</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum soluta, temporibus quos veritatis
              modi! Facilis voluptatum distinctio sequi, exercitationem eveniet qui ex aspernatur illo fuga quis
              corrupti eum consequatur!
            </p>
          </div>
        </div>
        <div class="my-3 row">
          <div class="col-1">
            <a href="#">
              <img src="https://png.pngtree.com/svg/20170331/businessman_863430.png" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-10 pl-0">
            <a href="#" class="h5 text-uppercase mr-2 font-weight-bold text-warning">Karthick Raja</a><span>2 weeks
              ago</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum soluta, temporibus quos veritatis
              modi! Facilis voluptatum distinctio sequi, exercitationem eveniet qui ex aspernatur illo fuga quis
              corrupti eum consequatur!
            </p>
          </div>
        </div>
        <div class="my-3 row">
          <div class="col-1">
            <a href="#">
              <img src="https://png.pngtree.com/svg/20170331/businessman_863430.png" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-10 pl-0">
            <a href="#" class="h5 text-uppercase mr-2 font-weight-bold text-warning">Karthick Raja</a><span>2 weeks
              ago</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum soluta, temporibus quos veritatis
              modi! Facilis voluptatum distinctio sequi, exercitationem eveniet qui ex aspernatur illo fuga quis
              corrupti eum consequatur!
            </p>
          </div>
        </div>
        <div class="text-center mb-3">
          <a href="#" class="text-white"><u>See More...</u></a>
        </div>
      </div>
    </div>
    <div class="h3 text-secondary font-weight-bold text-uppercase mt-4">Recommanded</div>
    <div class="card-deck mb-5">
      <div [routerLink]="['/']" class="card bg-secondary">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81INszf0YxL._SL1500_.jpg" alt="" class="w-100">
        <div class="h4 text-center text-uppercase">
          Suits
        </div>
      </div>
      <div [routerLink]="['/']" class="card bg-secondary">
        <img src="https://images-na.ssl-images-amazon.com/images/I/916iUtMYGIL._SY445_.jpg" alt="" class="w-100">
        <div class="h4 text-center text-uppercase">
          Grimm
        </div>
      </div>
      <div [routerLink]="['/']" class="card bg-secondary">
        <img
          src="https://vignette.wikia.nocookie.net/supernatural/images/d/d7/Season_10_Official_Poster.png/revision/latest?cb=20171216050454"
          alt="" class="w-100">
        <div class="h4 text-center text-uppercase">
          Supernatural
        </div>
      </div>
      <div [routerLink]="['/']" class="card bg-secondary">
        <img
          src="https://vignette.wikia.nocookie.net/gotham-inc/images/f/ff/Wrath_of_the_Villains_poster.png/revision/latest?cb=20160125234852"
          alt="" class="w-100">
        <div class="h4 text-center text-uppercase">
          Gotham
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf='!isPageContentHidden' class="d-flex" style="height: 340px;">
  <img src="../../../assets/refresh.gif" alt="" style="width:100px;height:100px;margin: auto;">
</div>
