<div class="h1 text-center my-4 text-uppercase">
  Post Your Link
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="{{this.finalResult[0].class}}">{{this.finalResult[0].text}}</div>
      <form (submit)="UploadShow($event)" id="showform" class="upload-link mb-5" #uploadForm="ngForm" method="POST"
        enctype="multipart/form-data">
        <!-- show type selection -->
        <div class="form-group">
          <label for="select-type">Select Show Type</label>
          <select 
            (change)="onTypeSelect($event)" 
            class="form-control alert-info" 
            name="TypeOfShow"
            [disabled]="upload.showType != 'defaultOption'" 
            [(ngModel)]="upload.showType">
            <option *ngFor="let showType of showTypes" [value]="showType.value">{{showType.name}}</option>
          </select>
        </div>

        <!-- Trailer type selection only for Trailer type show -->
        <div *ngIf="!this.showFields.trailerType.length == 0" class="form-group">
          <label for="select-type">{{this.showFields.trailerTypeLabel}}</label>
          <select 
          (change)="trailertype($event)"
            class="form-control alert-info" 
            name="trailerType" 
            [(ngModel)]="this.upload.trailerType">
            <option *ngFor="let trailer_type of this.showFields.trailerType" [value]="trailer_type.value">
              {{trailer_type.name}}</option>
          </select>
        </div>
        
        <!-- Language for show  -->
        <div *ngIf="!this.showFields.language.length == 0" class="form-group">
          <label for="">{{this.showFields.languageLabel}}</label>
          <input 
            [class.is-invalid]="lang.invalid && lang.touched" 
            type="text"
            class="form-control alert-info" 
            placeholder="{{this.showFields.langPlaceholder}}"
            [(ngModel)]="upload.language" 
            #lang="ngModel"
            name="{{this.showFields.language}}" 
            required>
            <div *ngIf="lang?.touched" class="text-danger">
              <span *ngIf="lang.errors?.required">
                  * Language is Required
              </span>
            </div>
        </div>

        <!-- Genre for show  -->
        <div *ngIf="!this.showFields.genre.length == 0" class="form-group">
          <label for="">{{this.showFields.genreLabel}}</label>
          <input 
            type="text" 
            class="form-control alert-info"
            placeholder="{{this.showFields.genrePlaceholder}}"
            [(ngModel)]="upload.genre" 
            #genre="ngModel"
            name="{{this.showFields.genre}}" 
            required>
            <div *ngIf="genre?.touched" class="text-danger">
              <span *ngIf="genre.errors?.required">
                  * Genre is Required
              </span>
            </div>
        </div>

        <!-- Name for show -->
        <div *ngIf="!this.showFields.name.length == 0" class="form-group">
          <label for="">{{this.showFields.nameLabel}}</label>
          <input 
            type="text" 
            class="form-control alert-info" 
            placeholder="{{this.showFields.namePlaceholder}}"
            [(ngModel)]="upload.name" 
            #name="ngModel"
            name="{{this.showFields.name}}" 
            required>
            <div *ngIf="name?.touched" class="text-danger">
              <span *ngIf="name.errors?.required">
                  * Name is Required
              </span>
            </div>
        </div>

        <!-- singer section only for songs show type -->
        <div *ngIf="!this.showFields.singer.length == 0" class="form-group">
          <label for="">{{this.showFields.singerLabel}}</label>
          <input 
            type="text" 
            class="form-control alert-info" 
            placeholder="{{this.showFields.singerPlaceholder}}"
            name="{{this.showFields.singer}}" 
            [(ngModel)]="upload.singer" 
            >
        </div>

        <!-- Season or Part for Tv show and Movie respectively -->
        <div *ngIf="!this.showFields.partOrSeason == 0" class="form-group">
          <label for="">{{this.showFields.partOrSeasonLabel}}</label>
          <input 
            type="text" 
            class="form-control alert-info" 
            placeholder="{{this.showFields.partOrSeasonPlaceholder}}"
            name="{{this.showFields.partOrSeason}}" 
            #partOrSeason="ngModel"
            [(ngModel)]="upload.partOrSeason"
            required>
            <div *ngIf="partOrSeason?.touched" class="text-danger">
              <span *ngIf="partOrSeason.errors?.required">
                  * Fill this field
              </span>
            </div>
        </div>

        <!-- Episode for show -->
        <ng-container *ngIf="this.upload.trailerType != 'movie'">
          <ng-container *ngIf="this.upload.trailerType != 'documentary'">
            <div *ngIf="!this.showFields.episode.length == 0" class="form-group">
              <label for="">{{this.showFields.episodeLabel}}</label>
              <input 
                type="text" 
                class="form-control alert-info" 
                placeholder="{{this.showFields.episodePlaceholder}}"
                name="{{this.showFields.episode}}" 
                #episode = 'ngModel'
                [(ngModel)]="upload.episode" 
                required
                >
                <div *ngIf="episode?.touched" class="text-danger">
                  <span *ngIf="episode.errors?.required">
                      * Episode is Required
                  </span>
                </div>
            </div>
          </ng-container>
        </ng-container>
        <!-- Image section -->
        <div *ngIf="!this.showFields.image.length == 0" class="form-group">
          <label for="">{{this.showFields.imageLabel}}</label>
          <input 
            id="image"
            type="file" 
            (change)="onSelectedFile($event)" 
            class="form-control-file alert-info"
            name="{{this.showFields.image}}"
            #image = "ngModel" 
            [(ngModel)] = "upload.image"
            required>
            <div *ngIf="image?.touched" class="text-danger">
              <span *ngIf="image.errors?.required">
                  * Image is Required
              </span>
            </div>
        </div>

        <!-- Links section -->
        <div *ngIf="!this.showFields.links.length == 0" class="form-group">
          <label for="">Enter {{this.showFields.linksLabel}}</label>
          <textarea id="direct-link" class="form-control alert-info" rows="3"
            placeholder="Place Your {{this.showFields.linksPlaceholder}}" 
            name="{{this.showFields.links}}"
            [(ngModel)]="upload.links"
            #link="ngModel"
            required
             ></textarea>
             <div *ngIf="link?.touched" class="text-danger">
               <span *ngIf="link.errors?.required">
                   Link is Required
               </span>
             </div>
        </div>

        <!-- submit button -->
        <div *ngIf="upload.showType != 'defaultOption'" class="form-group text-center row m-0">
          <div class="pl-0 pr-1" [ngClass] = "queryId.toString() != 'NaN' ? 'col-sm-12' : 'col-sm-6'">
            <button class="btn btn-info btn-block" type="submit" [disabled]="uploadForm.invalid">Post the links</button>
          </div>
          <div class="col-sm-6 pr-0 pl-1" *ngIf="queryId.toString() == 'NaN'">
            <button (click)="resetForm(uploadForm)" class="btn btn-danger btn-block" type='submit'>Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- model content -->