.songCol a{
    position: relative;
}
.songCol a .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    background-color: rgba(34, 34, 34, 0.8);
    color: #fff;
    border-radius: 8px;
}
.songCol a:hover .btn {
    background: transparent;
    background-color: #d80000;
    color: #fff;
}