<div class="h1 text-uppercase font-weight-bold text-center my-5">
    Login
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="{{result.class}}">{{result.msg}}</div>
        <form action="#" (submit)="login($event)" #loginForm = "ngForm" id="loginForm" enctype="multipart/form-data">
          <div class="form-group">
            <label for="">User Name:</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
              </div>
              <input 
                type="email" 
                class="form-control" 
                placeholder="ex. xyz@gmail.com" 
                name="email" 
                #email="ngModel"
                [(ngModel)] = 'user.email'
                pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}"
                required>
            </div>
            <div *ngIf="email?.touched" class="text-danger">
              <div *ngIf="email.errors?.required">Email is required</div>
              <div *ngIf="email.pattern?.error">Invalid Email</div>
            </div>
            <label for="">Password:</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
              </div>
              <input 
                type="password" 
                class="form-control" 
                placeholder="password" 
                name="password" 
                #password="ngModel"
                [(ngModel)] = 'user.password'
                required>
            </div>
            <div *ngIf="password?.touched" class="text-danger">
              <div *ngIf="password.errors?.required">Password required</div>
            </div>
            <div class="text-center">
              <button class="btn btn-danger" type="submit" [disabled] = 'loginForm.invalid'>Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>