<nav class="navbar navbar-expand-lg bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
    <i class="fa fa-bars"></i>
  </button>
  <div class="navbar-collapse collapse" id="menu">
    <div class="row m-0 w-100">
      <div class="col-md-8">
        <ul class="navbar-nav">
          <li class="nav-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active"
              class="nav-link text-white text-uppercase font-weight-bold">Home</a></li>
          <li class="nav-item"><a [routerLink]="['/movies']"
              class="nav-link text-white text-uppercase font-weight-bold">Movies</a></li>
          <li class="nav-item"><a [routerLink]="['/tvshows']"
              class="nav-link text-white text-uppercase font-weight-bold">TV Shows</a></li>
          <li class="nav-item"><a [routerLink]="['/trailers']"
              class="nav-link text-white text-uppercase font-weight-bold">Trailers</a></li>
          <li class="nav-item"><a [routerLink]="['/documentaries']"
              class="nav-link text-white text-uppercase font-weight-bold">Documentaries</a></li>
          <li class="nav-item"><a [routerLink]="['/anime']"
              class="nav-link text-white text-uppercase font-weight-bold">Anime</a></li>
          <li class="nav-item"><a [routerLink]="['/songs']"
              class="nav-link text-white text-uppercase font-weight-bold">Songs</a></li>
        </ul>
      </div>
      <div class="col-md-4 d-flex my-auto justify-content-end">
        <form class=" mr-4"><input type="text" class="form-control alert-info text-info border-0 rounded-0 border-warning"
            placeholder="search" style="height:30px;"></form>
        <div class="">
          <div [hidden] = "!isLoggedIn">
              <a [routerLink]="['/Profile']" class="text-white"><i class="fa fa-user-circle fa-2x mr-2"></i></a>
              <a href="javscript:void(0)" (click) = "signout()" class="text-white"><i class="fa fa-sign-out fa-2x mr-2"></i></a>
          </div>
          <div [hidden] = "isLoggedIn">
              <a [routerLink]="['/register']" class="text-white"><i class="fa fa-user-plus fa-2x mr-2"></i></a>
              <a [routerLink]="['/login']" class="text-white"><i class="fa fa-sign-in fa-2x mr-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="text-center shadow bg-secondary d-flex justify-content-between ">
  <a routerLink="/request-link" class="text-warning py-1 font-weight-bold ml-3">Request Link <i class="fa fa-anchor ml-2"></i></a>
  <a routerLink="/requests" class="text-warning py-1 font-weight-bold ml-3">Requests <i class="fa fa-anchor ml-2"></i></a>
  <a [routerLink]="['/upload-link']" queryParamsHandling preserveFragment class="text-warning py-1 font-weight-bold mr-3">Add Links <i class="fa fa-plus ml-2"></i></a>
</div>
<router-outlet></router-outlet>
<div class="footer py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="h3 text-uppercase">
          About Us
        </div>
        <p class="text-justify">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, neque aperiam magni unde distinctio asperiores
          minus labore iusto quam voluptatum deleniti laboriosam. Amet sunt voluptatum dolorem praesentium! Sapiente,
          neque nihil.
        </p>
      </div>
      <div class="col-lg-3 explore">
        <div class="h3 text-uppercase">
          Explore
        </div>
        <div>
          <ul class="p-0" style="list-style-type:none">
            <li class="mb-2"> <a [routerLink]="['/movies']" class='text-white'> <i
                  class="fa fa-play mr-2"></i>Movies</a></li>
            <li class="mb-2"> <a [routerLink]="['/tvshows']" class='text-white'> <i class="fa fa-play mr-2"></i>TV
                Shows</a></li>
            <li class="mb-2"> <a [routerLink]="['/trailers']" class='text-white'> <i
                  class="fa fa-play mr-2"></i>Trailers</a></li>
            <li class="mb-2"> <a [routerLink]="['/documentaries']" class='text-white'> <i
                  class="fa fa-play mr-2"></i>Documentaries</a></li>
            <li class="mb-2"> <a [routerLink]="['/anime']" class='text-white'> <i class="fa fa-play mr-2"></i>Anime</a>
            </li>
            <li class="mb-2"> <a [routerLink]="['/songs']" class='text-white'> <i class="fa fa-play mr-2"></i>Songs</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="h3 text-uppercase">
          Genres
        </div>
        <div>
          <ul class="p-0" style="list-style-type:none">
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-chevron-right mr-2"></i>Adventure</a></li>
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i class="fa fa-chevron-right mr-2"></i>Rom
                Com</a></li>
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-chevron-right mr-2"></i>Action</a></li>
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-chevron-right mr-2"></i>Drama</a></li>
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-chevron-right mr-2"></i>Superhero</a></li>
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-chevron-right mr-2"></i>Thriller</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="h3 text-uppercase">
          Information
        </div>
        <div>
          <ul class="p-0" style="list-style-type:none">
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-language mr-2"></i>Hollywood</a></li>
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-language mr-2"></i>Bollywood</a></li>
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-language mr-2"></i>Tollywood</a></li>
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-language mr-2"></i>Kollywood</a></li>
            <li class="mb-2"> <a [routerLink]="['/']" class='text-white'> <i
                  class="fa fa-language mr-2"></i>Mollywood</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copyrights p-2 text-center">
  Copyright © 2018 Movie Linkers. All Right Reserved
</div>