<div class="container mt-5">
  <div class="card text-secondary shadow bg-white mb-5">
    <div class="card-header bg-none px-4">
      <div class="row">
        <div class="col-7">
          <div class="h4 mb-0">
            Captain Marvel - 2019
          </div>
          <div class="h6 text-dark mb-0">
            <a href="#" class="font-weight-bold">Admin Admin</a> <small class="text-secondary"> 01-12-2018</small>
          </div>
        </div>
        <div class="col-3">
          <div class="h5 mb-0">Movie</div>
          <div class="h5 mb-0">Drama, Fantasy</div>
        </div>
        <div class="col-2">
          <div class="h5 mb-0">Season 02</div>
          <div class="h5 mb-0">Episode 02</div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex pl-5">
        <div class="h5 mr-2"> <span class="text-info font-weight-bold"><i class="fa fa-chevron-circle-right"></i></span>
        </div>
        <div>
          <div class="h5 mb-1">
            <a class="text-darkGreen" href="#">
              <u>https://yts.am/movie/pirates-of-the-caribbean-dead-men-tell-no-tales-2017</u>
            </a>
          </div>
          <div class="h6 text-dark mb-0">
            <a href="#" class="font-weight-bold tex">Karthick Raja</a> <small> 01-12-2018</small>
          </div>
          <div>
            <button class="btn bg-none btn-sm text-dark pl-0">
              <i class="fa fa-thumbs-up mr-1"></i> <span class="badge badge-info">10</span>
            </button><button class="btn bg-none btn-sm text-dark pl-0">
              <i class="fa fa-thumbs-down mr-1"></i> <span class="badge badge-warning">10</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center bg-none border-0">
      <button class="btn btn-success">Put Your Link</button>
    </div>
  </div>
</div>