<div class="row logo_row m-0">
  <div class="col-2 offset-5 logo">
    <img src="/assets/logo.svg" alt="" class="img-fluid">
  </div>
  <div class="col-8 offset-2 text-center pt-5">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At explicabo consequatur, debitis culpa fugit
      dignissimos? Accusamus explicabo perspiciatis, blanditiis sunt itaque rem quo ex libero ab omnis placeat dolore
      totam?
    </p>
  </div>
  <div class="col-12 px-0 py-5">
    <hr style="border-top: 0px solid #E785ED">
  </div>
</div>
<!-- movie -->
<section class="mb-5p">
  <div class="row m-0">
    <div class="col-md-5 offset-md-1">
      <img [routerLink]="['/movies']" class="img-fluid pointer-cursor rounded" src="/assets/movie.jpg" alt="" style="box-shadow: 7px 7px 5px 0px #2d4a5c">
    </div>
    <div class="col-md-5">
      <div class="d-flex h-100">
        <div class="m-auto p-3">
          <div class="h3">
            Movies
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse incidunt voluptatum cumque unde delectus
            iusto repellat nesciunt? Dignissimos, hic facere quis numquam reiciendis sunt fugit possimus. Iste, similique
            magnam.
          </p>
          <div><button [routerLink]="['/movies']" class="btn btn-info">Explore <i class="fa fa-long-arrow-right"></i></button></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tv shows -->
<section class="mb-5p">
  <div class="row m-0">
    <div class="col-md-5 offset-md-1">
      <div class="d-flex h-100">
        <div class="m-auto">
          <div class="text-right">
            <div class="h3">
              TV Shows
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse incidunt voluptatum cumque unde delectus
              iusto repellat nesciunt? Dignissimos, hic facere quis numquam reiciendis sunt fugit possimus. Iste, similique
              magnam.
            </p>
            <div><button [routerLink]="['/tvshows']" class="btn btn-info">Explore <i class="fa fa-long-arrow-right"></i></button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <img [routerLink]="['/tvshows']" class="img-fluid pointer-cursor rounded" src="/assets/tv-shows.jpg" alt="" style="box-shadow: -7px 7px 5px 0px #2c1e08">
    </div>
  </div>
</section>
<!-- Trailers -->
<section class="mb-5p">
  <div class="row m-0">
    <div class="col-md-5 offset-md-1">
      <img [routerLink]="['/trailers']" class="img-fluid pointer-cursor rounded" src="/assets/trailer.jpg" alt="" style="box-shadow: 7px 7px 5px 0px #2d4a5c">
    </div>
    <div class="col-md-5">
      <div class="d-flex h-100">
        <div class="m-auto p-3">
          <div class="h3">
            Trailer
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse incidunt voluptatum cumque unde delectus
            iusto repellat nesciunt? Dignissimos, hic facere quis numquam reiciendis sunt fugit possimus. Iste, similique
            magnam.
          </p>
          <div><button [routerLink]="['/trailers']" class="btn btn-info">Explore <i class="fa fa-long-arrow-right"></i></button></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Documentaries -->
<section class="mb-5p">
  <div class="row m-0">
    <div class="col-md-5 offset-md-1">
      <div class="d-flex h-100">
        <div class="m-auto">
          <div class="text-right">
            <div class="h3">
              Documentaries
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse incidunt voluptatum cumque unde delectus
              iusto repellat nesciunt? Dignissimos, hic facere quis numquam reiciendis sunt fugit possimus. Iste, similique
              magnam.
            </p>
            <div><button [routerLink]="['/documentaries']" class="btn btn-info">Explore <i class="fa fa-long-arrow-right"></i></button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <img [routerLink]="['/documentaries']" class="img-fluid pointer-cursor rounded" src="/assets/documentary.jpg" alt="" style="box-shadow: -7px 7px 5px 0px #2c1e08">
    </div>
  </div>
</section>
<!-- Anime -->
<section class="mb-5p">
  <div class="row m-0">
    <div class="col-md-5 offset-md-1">
      <img [routerLink]="['/anime']" class="img-fluid pointer-cursor rounded" src="/assets/anime.jpg" alt="" style="box-shadow: 7px 7px 5px 0px #5b5f50">
    </div>
    <div class="col-md-5">
      <div class="d-flex h-100">
        <div class="m-auto p-3">
          <div class="h3">
            Anime
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse incidunt voluptatum cumque unde delectus
            iusto repellat nesciunt? Dignissimos, hic facere quis numquam reiciendis sunt fugit possimus. Iste, similique
            magnam.
          </p>
          <div><button [routerLink]="['/anime']" class="btn btn-info">Explore <i class="fa fa-long-arrow-right"></i></button></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Songs -->
<section class="mb-5p">
  <div class="row m-0">
    <div class="col-md-5 offset-md-1">
      <div class="d-flex h-100">
        <div class="m-auto">
          <div class="text-right">
            <div class="h3">
              Songs
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse incidunt voluptatum cumque unde delectus
              iusto repellat nesciunt? Dignissimos, hic facere quis numquam reiciendis sunt fugit possimus. Iste, similique
              magnam.
            </p>
            <div><button [routerLink]="['/songs']" class="btn btn-info">Explore <i class="fa fa-long-arrow-right"></i></button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <img [routerLink]="['/songs']" class="img-fluid pointer-cursor rounded" src="/assets/songs.jpg" alt="" style="box-shadow: -7px 7px 5px 0px #2c1e08">
    </div>
  </div>
</section>
