<div class="h1 text-center my-4 text-uppercase">
  Request Link
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="{{this.finalResult[0].class}}">{{this.finalResult[0].text}}</div>
      <form (submit)="RequestShow($event)" id="showform" class="Request-link mb-5" #RequestForm="ngForm" method="POST"
        enctype="multipart/form-data">

        <!-- show type selection -->
        <div class="form-group">
          <label for="select-type">Select Show Type</label>
          <select 
            (change)="onTypeSelect($event)" 
            class="form-control alert-info" 
            name="TypeOfShow"
            [disabled]="Request.showType != 'defaultOption'" 
            [(ngModel)]="Request.showType">
            <option *ngFor="let showType of showTypes" [value]="showType.value">{{showType.name}}</option>
          </select>
        </div>

        <!-- Trailer type selection only for Trailer type show -->
        <div *ngIf="!this.showFields.trailerType.length == 0" class="form-group">
          <label for="select-type">{{this.showFields.trailerTypeLabel}}</label>
          <select 
          (change)="trailertype($event)"
            class="form-control alert-info" 
            name="trailerType" 
            [(ngModel)]="this.Request.trailerType">
            <option *ngFor="let trailer_type of this.showFields.trailerType" [value]="trailer_type.value">
              {{trailer_type.name}}</option>
          </select>
        </div>
        
        <!-- Language for show  -->
        <div *ngIf="!this.showFields.language.length == 0" class="form-group">
          <label for="">{{this.showFields.languageLabel}}</label>
          <input 
            [class.is-invalid]="lang.invalid && lang.touched" 
            type="text"
            class="form-control alert-info" 
            placeholder="{{this.showFields.langPlaceholder}}"
            [(ngModel)]="Request.language" 
            #lang="ngModel"
            name="{{this.showFields.language}}" 
            required>
            <div *ngIf="lang?.touched" class="text-danger">
              <span *ngIf="lang.errors?.required">
                  * Language is Required
              </span>
            </div>
        </div>

        <!-- Genre for show  -->
        <div *ngIf="!this.showFields.genre.length == 0" class="form-group">
          <label for="">{{this.showFields.genreLabel}}</label>
          <input 
            type="text" 
            class="form-control alert-info"
            placeholder="{{this.showFields.genrePlaceholder}}"
            [(ngModel)]="Request.genre" 
            #genre="ngModel"
            name="{{this.showFields.genre}}" 
            required>
            <div *ngIf="genre?.touched" class="text-danger">
              <span *ngIf="genre.errors?.required">
                  * Genre is Required
              </span>
            </div>
        </div>

        <!-- Name for show -->
        <div *ngIf="!this.showFields.name.length == 0" class="form-group">
          <label for="">{{this.showFields.nameLabel}}</label>
          <input 
            type="text" 
            class="form-control alert-info" 
            placeholder="{{this.showFields.namePlaceholder}}"
            [(ngModel)]="Request.name" 
            #name="ngModel"
            name="{{this.showFields.name}}" 
            required>
            <div *ngIf="name?.touched" class="text-danger">
              <span *ngIf="name.errors?.required">
                  * Name is Required
              </span>
            </div>
        </div>

        <!-- singer section only for songs show type -->
        <div *ngIf="!this.showFields.singer.length == 0" class="form-group">
          <label for="">{{this.showFields.singerLabel}}</label>
          <input 
            type="text" 
            class="form-control alert-info" 
            placeholder="{{this.showFields.singerPlaceholder}}"
            name="{{this.showFields.singer}}" 
            [(ngModel)]="Request.singer" 
            >
        </div>

        <!-- Season or Part for Tv show and Movie respectively -->
        <div *ngIf="!this.showFields.partOrSeason == 0" class="form-group">
          <label for="">{{this.showFields.partOrSeasonLabel}}</label>
          <input 
            type="text" 
            class="form-control alert-info" 
            placeholder="{{this.showFields.partOrSeasonPlaceholder}}"
            name="{{this.showFields.partOrSeason}}" 
            #partOrSeason="ngModel"
            [(ngModel)]="Request.partOrSeason"
            required>
            <div *ngIf="partOrSeason?.touched" class="text-danger">
              <span *ngIf="partOrSeason.errors?.required">
                  * Fill this field
              </span>
            </div>
        </div>

        <!-- Episode for show -->
        <ng-container *ngIf="Request.trailerType != 'movie'">
            <ng-container *ngIf="Request.trailerType != 'documentary'">
              <div *ngIf="!this.showFields.episode.length == 0" class="form-group">
                <label for="">{{this.showFields.episodeLabel}}</label>
                <input 
                  type="text" 
                  class="form-control alert-info" 
                  placeholder="{{this.showFields.episodePlaceholder}}"
                  name="{{this.showFields.episode}}" 
                  #episode = 'ngModel'
                  [(ngModel)]="Request.episode" 
                  required
                  >
                  <div *ngIf="episode?.touched" class="text-danger">
                    <span *ngIf="episode.errors?.required">
                        * Episode is Required
                    </span>
                  </div>
              </div>
            </ng-container>
          </ng-container>
        <!-- submit button -->
        <div *ngIf="Request.showType != 'defaultOption'" class="form-group text-center row m-0">
          <div class="col-sm-6 pl-0 pr-1">
            <button class="btn btn-info btn-block" type="submit" [disabled]="RequestForm.invalid">Post the links</button>
          </div>
          <div class="col-sm-6 pr-0 pl-1">
            <button (click)="resetForm(RequestForm)" class="btn btn-danger btn-block" type='submit'>Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- model content -->