/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Roboto', sans-serif;
}
.bg-none{
  background: none;
}
.bg-moonlight{
  background-color: #0b3b4f;
}
.link-hilight{
  cursor: pointer;
}
.bg-grey{
  background-color: #222!important
}
.text-darkGreen{
  color: #2b5161 !important;
}
.bg-none{
  background: none;
}